.katalog-none{
    display: none;
}
.katalog{
    position: absolute;
    width: 1230px;
    height: 720px;
    background: #FFF;
    margin-left: 25px;
    animation-name: menu;
    animation-duration: 0.3s;
}

.katalog-ul{

    background: rgba(0, 0, 0, 0.12);

}
.katalog li:hover{
    background: #FFFFFF;
    cursor: pointer;

}

@keyframes menu {

    from{
        bottom: 100px;
    }
    to{
        bottom: -220px;
    }
    
}