.katalog-none{
    display: none;
}
.katalog{
    position: absolute;
    width: 1230px;
    height: 720px;
    background: #FFF;
    margin-left: 25px;
    animation-name: menu;
    animation-duration: 0.3s;
}

.katalog-ul{

    background: rgba(0, 0, 0, 0.12);

}
.katalog li:hover{
    background: #FFFFFF;
    cursor: pointer;

}



    .dropdown-none{
        display: none;
    }
.dropdown{
    position: absolute;
    width: 275px;
    height: 185px;
    right: 20px;
    background: #FFF;
    box-shadow: 0 0 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    animation-name: menuTwo;
    animation-duration: 0.3s;
}



@keyframes menu {

    from{
        bottom: 100px;
    }
    to{
        bottom: -220px;
    }
    
}

@keyframes menuTwo {

    from{
        top: -20px;
    }
    to{
        top: 110px;
    }

}